/* palavra Gen no icone da navbar */
#genNav {
  color: aqua;
}

.checkSong {
  -webkit-appearance: initial;
  appearance: initial;
  width: 32px;
  height: 32px;
  border: none;
  padding: 20px;
  margin: none;
  background: rgb(49, 49, 49);
  /*position: relative;*/
}
.checkSong:checked {
  background: aqua;
}
.checkSong:checked:after {
  /* Se quiser voltar a por um símbolo na checkbox, tem de ser em formato unicode, i.e content: "\2713"; */

  color: #fff;
  /* The following positions my tick in the center, 
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}

/* Select dos efeitos e excertos do gerador de música*/
.genSelect {
  text-align-last: center;
  width: 100px;
  height: 32px;
  background: rgb(49, 49, 49);
  color: white;
}
/* Opções dos select dos dos efeitos e excertos do gerador de música*/
.genOption {
  text-align-last: center;
}

/* Volume slider*/
.slider {
  width: 100%;
  background-color: aqua;
}

/* Input Tempo */
input.cus-form {
  background: rgb(49, 49, 49);
  color: white;
}

/* Tabela de criação de Música*/
#tablehead {
  color: white;
}

#select-left {
  padding: 0px;
  padding-right: 5px;
}
#select-right {
  padding: 0px;
  padding-left: 5px;
}
#tablecell {
  padding: 0px;
}
